langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
langchain-text-splitters
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
python-dotenv
fastapi
uvicorn
mcp[cli]